@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-wrapper {
  position: relative;

  width: fit-content;
  padding: 5px 0;
}

.button {
  position: relative;
  z-index: 2;

  padding: 0 40px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #000000;

  text-align: center;
  border: none;
  background-color: transparent;
}

.button-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  margin: 15px 0;

  background-color: #f0c52e;
  transition-property: margin-top, margin-bottom;
  transition-duration: 0.5s;
}

.button:hover ~ .button-bg,
.button:focus ~ .button-bg {
  margin: 0;
}

.button:active {
  color: #a88a20;
  color: rgba(0, 0, 0, 0.3);
}

.button:active ~ .button-bg {
  margin: 0;
}

.radiobutton {
  position: relative;

  display: inline-block;
  padding-left: 35px;

  cursor: pointer;
}

.radiobutton input {
  position: absolute;

  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.radiobutton-marker {
  position: absolute;
  top: 6px;
  left: -4px;

  height: 25px;
  width: 25px;

  border-radius: 50%;
  background-image: url("../img/radio-off.svg");
}

.radiobutton input:checked ~ .radiobutton-marker {
  background-image: url("../img/radio-on.svg");
}

.radiobutton input:focus ~ .radiobutton-marker {
  outline: 1px solid #000000;
  outline-offset: 2px;
}

.radiobutton input:hover ~ .radiobutton-marker,
.radiobutton input:hover ~ .radiobutton-label {
  opacity: 0.6;
}

.radiobutton input:disabled ~ .radiobutton-marker,
.radiobutton input:disabled ~ .radiobutton-label {
  opacity: 0.3;
}

.radiobutton-disabled {
  cursor: default;
}

.checkbox {
  position: relative;

  display: inline-block;
  padding-left: 35px;

  cursor: pointer;
}

.checkbox input {
  position: absolute;

  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.checkbox-marker {
  position: absolute;
  top: 6px;
  left: -4px;

  height: 23px;
  width: 27px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox input:checked ~ .checkbox-marker {
  background-image: url("../img/checkbox-on.svg");
}

.checkbox input:focus ~ .checkbox-marker {
  outline: 1px solid #000000;
  outline-offset: 2px;
}

.checkbox input:hover ~ .checkbox-marker,
.checkbox input:hover ~ .checkbox-label {
  opacity: 0.6;
}

.checkbox input:disabled ~ .checkbox-marker,
.checkbox input:disabled ~ .checkbox-label {
  opacity: 0.3;
}

.checkbox-disabled {
  cursor: default;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: relative;

  margin-top: 40px;
  padding: 41px 60px 20px;

  background-color: #f7e296;
}

.header-index {
  padding-bottom: 130px;
}

.header-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 27px;
}

.header-logo {
  position: absolute;
  top: -19px;
}

.search-form {
  position: relative;

  width: 540px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
}

.search-form input {
  padding-left: 40px;
  padding-bottom: 8px;
  padding-right: 90px;
  width: 440px;

  font: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
}

.search-form input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form input:hover::placeholder {
  opacity: 0.6;
}

.search-form input:focus {
  outline: none;
  border-bottom-color: #000000;
}

.search-form input:focus::placeholder {
  opacity: 0;
}

.search-form:focus-within input {
  border-bottom-color: #000000;
}

.search-button {
  position: absolute;
  bottom: 0;
  right: 100px;

  font: inherit;

  text-align: center;
  background-color: transparent;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.search-button:focus,
.search-form input:focus ~ .search-button {
  width: 85px;
  height: 50px;
  border: 3px solid #000000;
  margin: 0;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  width: 85px;
  height: 50px;
  border: 3px solid #000000;
  margin: 0;
  color: #5a5a5a;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.header ul {
  list-style: none;
}

.header a {
  color: #000000;
}

.site-nav,
.services-nav {
  padding: 0;
  margin: 0;
  width: 500px;
}

.site-nav li {
  position: relative;
  padding-left: 26px;
}

.site-nav li::before {
  content: "";
  position: absolute;
}

.site-nav-login::before {
  top: 9px;
  left: 0;

  height: 12px;
  width: 13px;

  background-image: url("../img/user.svg");
}

.site-nav-compare::before {
  top: 12px;
  left: 5px;

  height: 10px;
  width: 10px;

  background-image: url("../img/compare.svg");
}

.site-nav-cart::before {
  top: 10px;
  left: 2px;

  height: 12px;
  width: 12px;

  background-image: url("../img/cart.svg");
}

.site-nav-cart {
  margin-left: 39px;
}

.site-nav-login {
  margin-right: auto;
}

.header .services-nav-contacts {
  margin-left: auto;
}

.site-nav-logout {
  opacity: 0.6;
  margin-left: 15px;
}

.catalog-opener-wrapper {
  width: 540px;
}

.catalog-opener {
  position: relative;

  padding-left: 0px;

  background-color: transparent;
  border: none;
}

.catalog-opener::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -26px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  opacity: 0.3;
}

.catalog-opener,
.services-nav a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.header a:hover,
.header a:focus,
.catalog-opener:hover,
.catalog-opener:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header .site-nav-logout:hover,
.header .site-nav-logout:focus {
  opacity: 1;
}

.header a:active,
.catalog-opener:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-nav-delivery {
  margin-right: 30px;
}

.header-catalog {
  position: absolute;
  left: 0;
  top: 168px;
  z-index: 2;

  /*display: flex;*/
  display: none;
  padding-left: 60px;
  height: 130px;
  gap: 70px;

  background-color: #f7e296;
}

.header-catalog-item {
  display: block;
}

.slider {
  position: relative;

  margin-top: -110px;
  margin-bottom: 85px;
}

.slide-wrapper {
  display: flex;
  height: 507px;
}

.slide-photo {
  width: 600px;
}

.slide-photo-first {
  padding-left: 90px;
}

.slide-photo-second {
  padding-left: 118px;
  padding-top: 12px;
}

.slide-photo-third {
  padding-left: 32px;
  padding-top: 66px;
}

.slide-desc {
  position: relative;

  flex-grow: 1;
}

.slide-desc::before {
  content: "";
  position: absolute;
  top: 38px;

  width: 100px;
  height: 8px;

  background-color: #ffffff;
}

.slide-order {
  position: absolute;
  top: -13px;
  right: 48px;

  margin: 0;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 180px;
  color: #ffffff;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.slider h3 {
  position: relative;

  margin-top: 80px;
  margin-bottom: 20px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
}

.slide-desc-text {
  margin-bottom: 42px;
}

.slide-properties {
  display: flex;
  gap: 79px;
  padding-left: 0;
  margin-top: 36px;

  font-size: 13px;
  line-height: 20px;

  list-style: none;
}

.slide-properties span {
  display: inline-block;
  margin-bottom: 9px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.slider-switcher {
  position: absolute;
  right: 95px;
  top: 329px;
  display: flex;
  gap: 35px;
}

.radiobutton-slider {
  padding-left: 0;
}

.radiobutton-slider .radiobutton-marker {
  height: 14px;
  width: 14px;
  border: 1px solid #000000;
  background: none;
}

.radiobutton-slider .radiobutton-marker::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  display: none;
  width: 4px;
  height: 4px;

  border-radius: 50%;
  border: 1px solid #000000;
}

.radiobutton-slider input:checked ~ .radiobutton-marker::after {
  display: block;
}

.radiobutton-slider input:checked ~ .radiobutton-marker {
  background: none;
}

.categories {
  margin-bottom: 62px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.categories-list a {
  display: block;
  width: 160px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.category-img {
  position: relative;

  height: 160px;
  width: 160px;
  margin-bottom: 35px;

  background-color: rgba(240, 197, 46, 0.5);
}

.category-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-repeat: no-repeat;
  background-position: center;
}

.category-img-vr::after {
  background-image: url("../img/popular-1.svg");
}

.category-img-selfie::after {
  background-image: url("../img/popular-2.svg");
  background-position: bottom;
}

.category-img-actioncam::after {
  background-image: url("../img/popular-3.svg");
}

.category-img-fitnessbracelet::after {
  background-image: url("../img/popular-4.svg");
}

.category-img-smartwatch::after {
  background-image: url("../img/popular-5.svg");
}

.category-img-drone::after {
  background-image: url("../img/popular-6.svg");
}

.categories-list a:hover > .category-img,
.categories-list a:focus > .category-img,
.categories-list a:active > .category-img {
  background-color: rgba(240, 197, 46, 1);
}

.categories-list a:active > p {
  opacity: 0.3;
}

.categories-list a:active > .category-img::after {
  opacity: 0.3;
}

.services {
  position: relative;
  margin-bottom: 90px;
}

.services-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  margin-top: 100px;

  background-color: #e5e5e5;
}

.services-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  padding-bottom: 75px;
}

.services-switcher {
  width: 285px;
  padding-left: 0;
  margin-top: 0;

  border-right: 8px solid #000000;
}

.services-switcher ul {
  margin-bottom: 0;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}

.services-button{
  width: fit-content;
  margin-bottom: 25px;
}

.services-button .button {
  padding: 0;
  width: 160px;
}

.services-button .button:active,
.services-button.active .button{
  color: #f7e184;
  padding-right: 116px;
  box-sizing: content-box;
}

.services-button .button:active ~ .button-bg,
.services-button.active .button-bg {
  background-color: #000000;
  margin: 0;
}

.services-desc {
  margin-left: 115px;
}

.services-desc-item {
  padding-bottom: 60px;
}

.services-desc-item-delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 559px 11px;
}

.services-desc-item-warranty {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 559px 11px;
}

.services-desc-item-credit {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 559px 11px;
}

.services-desc h3 {
  margin-top: 73px;
  margin-bottom: 30px;
}

.services-desc p {
  width: 450px;
}

.services-desc {
  width: 880px;
}

.services h3 {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.partners {
  margin-bottom: 85px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.partners-list-item img {
  filter: grayscale(1);
  opacity: 0.3;
}

.partners-list-item:hover img {
  filter: grayscale(0);
  opacity: 1;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.about-wrapper .button {
  padding: 0 20px;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 8px;
  background-color: #000000;
}

.about-us {
  width: 480px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
}

.contacts h2,
.about-us h2 {
  margin-top: 50px;
  margin-bottom: 45px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.contacts p,
.about-us p {
  margin-bottom: 30px;
}

.about-us ul {
  margin-top: 74px;
  margin-bottom: 65px;
  padding-left: 15px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;

  list-style: circle;
}

.about-us li {
  margin-bottom: 15px;
  padding-left: 20px;
}

.contacts-map {
  padding: 0;
  margin-top: 10px;

  border: none;
  background-color: transparent;
}

.footer {
  margin-top: auto;
  padding-top: 65px;

  color: #ffffff;
  background-color: #464646;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  list-style: none;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #ffffff;
}

.footer a:hover,
.footer a:focus {
  opacity: 0.6;
}

.footer a:active {
  opacity: 0.3;
}

.footer-site-nav a {
  opacity: 0.7;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  opacity: 1;
}

.footer-site-nav a:active {
  opacity: 0.3;
}

.footer-site-nav {
  margin-top: 0;
  margin-bottom: 40px;
  padding: 0;
  justify-content: flex-end;
}

.footer-site-nav li {
  margin-left: 40px;
  margin-right: 0;
}

.footer-site-nav .site-nav-login::before {
  background-image: url("../img/user-yellow.svg");
}

.footer-site-nav .site-nav-compare::before {
  background-image: url("../img/compare-yellow.svg");
}

.footer-site-nav .site-nav-cart::before {
  background-image: url("../img/cart-yellow.svg");
}

.footer .services-nav {
  width: 450px;
  margin-left: -10px;
  margin-bottom: 60px;
}

.footer-bar {
  width: 80px;
  height: 8px;
  margin-top: 12px;

  background-color: #f0c52e;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  padding: 0;
  margin: 0 0 55px -20px;
}

.socials li {
  margin-right: 20px;
}

.socials a {
  display: inline-block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
}

.socials-fb a {
  background-image: url("../img/fb.svg");
}

.socials-vk a {
  background-image: url("../img/vk.svg");
}

.socials-tw a {
  background-image: url("../img/twitter.svg");
}

.socials a:hover,
.socials a:focus {
  opacity: 0.6;
}

.socials a:active {
  opacity: 0.1;
}

.socials-html {
  display: block;
  width: 27px;
  height: 35px;

  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
}

.contact-us label {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.contact-us input,
.contact-us textarea {
  background-color: #f2f2f2;
  border: #f2f2f2 solid 2px;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
  color: #adadad;
}

.contact-us input:hover,
.contact-us textarea:hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
}

.contact-us input:hover::placeholder,
.contact-us textarea:hover::placeholder {
  color: #a8a8a8;
}

.contact-us input:focus,
.contact-us textarea:focus {
  background-color: #ffffff;
  border-color: #f7e296;
  outline: none;
}

.contact-us input:focus::placeholder,
.contact-us textarea:focus::placeholder {
  color: #464646;
}

.contact-us input:invalid,
.contact-us textarea:invalid {
  background-color: #f6dada;
  border-color: #f6dada;
}

.contact-us input:invalid::placeholder,
.contact-us textarea:invalid::placeholder {
  color: #b09f9f;
}

.close-button {
  opacity: 0.5;
  border: none;
  background-color: #f0c52e;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.main-title {
  margin-left: 60px;
  margin-top: 35px;
  margin-bottom: 21px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  display: flex;
  margin-left: 60px;
  margin-bottom: 45px;
  padding-left: 0;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  margin-right: 30px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 13px;
  right: -17px;

  width: 4px;
  height: 7px;
  background-image: url("../img/nav-arrow.svg");
}

.breadcrumbs-item-current {
  margin: 0;
}

.breadcrumbs-item-current::after {
  content: none;
}

.breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-item:last-child a:hover,
.breadcrumbs-item:last-child a:focus {
  opacity: 0.3;
}

.breadcrumbs-item:last-child a:active {
  opacity: 0.3;
}

.catalog-top-wrapper,
.catalog-bottom-wrapper {
  display: flex;
}

.catalog-left-wrapper {
  width: calc( 328px + (100% - 1160px) / 2 );
}

.catalog-right-wrapper {
  width: calc( 832px + (100% - 1160px) / 2 );
}

.catalog-top-wrapper .catalog-left-wrapper {
  background-color: #dcdcdc;
}

.catalog-top-wrapper .catalog-right-wrapper {
  background-color: #ebebeb;
}

.catalog-bottom-wrapper .catalog-left-wrapper {
  background-color: #efefef;
}

.catalog-left-content {
  width: 268px;
  float: right;
}

.catalog-right-content {
  width: 761px;
  margin-left: 71px;
}

.catalog-top-wrapper h2 {
  display: inline-block;
  margin: 22px 0;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.sort ul {
  display: inline-flex;
  margin-bottom: 0;
  padding-left: 10px;

  list-style: none;
}

.sort button {
  background-color: transparent;
  border: none;
  opacity: 0.2;
}

.sort-type button {
  margin-left: 26px;
  padding: 0;

  font: inherit;
  font-weight: 400;
  opacity: 0.3;
}

.sort-order {
  display: inline-block;
  float: right;
  margin-top: 17px;
}

.sort-order button {
  width: 11px;
  height: 10px;
  margin-left: 12px;
}

.sort-order-ascending {
  background-image: url("../img/icon-up-dir.svg");
}

.sort-order-descending {
  background-image: url("../img/icon-down-dir.svg");
}

.sort button:hover,
.sort button:focus {
  opacity: 0.4;
}

.sort-type button:hover,
.sort-type button:focus {
  opacity: 0.6;
}

.sort button.active,
.sort button:active {
  opacity: 1;
}

.filter {
  margin-top: 70px;
  margin-right: 68px;
}

.filter p {
  margin: 0;
}

.filter-section {
  border-top: 3px solid #000000;
  padding-top: 10px;
}

.filter-section-color {
  margin-bottom: 32px;
}

.filter-section-bluetooth {
  margin-bottom: 32px;
}

.filter-section-color legend,
.filter-section-bluetooth legend {
  margin-bottom: 16px;
}

.filter fieldset {
  padding: 0;

  font-size: 14px;
  line-height: 40px;

  border: none;
}

.filter legend {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.double-range-input{
  position: relative;
  width: 100%;
}

.double-range-input-slider{
  position: relative;
  z-index: 2;

  width: 100%;
  height: 20px;
  margin-top: 25px;
  margin-bottom: 58px;
}

input[type="range"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.slider-track{
  width: 100%;
  height: 2px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

input[type="range"]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  height: 2px;
}
input[type="range"]::-moz-range-track{
  -moz-appearance: none;
  height: 2px;
}
input[type="range"]::-ms-track{
  appearance: none;
  height: 2px;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 23px;
  cursor: pointer;
  background-image: url("../img/filter-button.svg");
  margin-top: -9px;
  pointer-events: auto;
}
input[type="range"]::-moz-range-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 23px;
  cursor: pointer;
  background-image: url("../img/filter-button.svg");
  pointer-events: auto;
}
input[type="range"]::-ms-thumb{
  appearance: none;
  width: 20px;
  height: 23px;
  cursor: pointer;
  background-image: url("../img/filter-button.svg");
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb{
  width: 22px;
  height: 24px;
  margin-top: -10px;
  background-image: url("../img/filter-button.svg");
  background-size: cover;
}

input[type="range"]:active,
input[type="range"]:hover,
input[type="range"]:focus {
  opacity: 1;
}

.double-range-input-values {
  position: absolute;
  z-index: 1;
  top: 50%;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 27px;

  color: #000000;
  opacity: 0.5;
}

.filter .button {
  padding: 0;
  width: 200px;
}

.products-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 40px;
}

.products-item-name {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.products-item-cost {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.products-item-new {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.2;

  border: 2px solid;
}

.products-item:hover,
.products-item:focus {
  opacity: 0.7;
}

.products-item-compare {
  font: inherit;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.5;

  background-color: transparent;
  border: none;
}

.products-item-compare:hover,
.products-item-compare:focus {
  opacity: 1;
}

.products-item-compare:active {
  opacity: 0.2;
}

.pagination {
  display: flex;
  justify-content: space-between;

  background-color: #ebebeb;
}

.pagination a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-switch a:hover,
.pagination-switch a:focus {
  background-color: #d9d9d9;
}

.pagination-switch a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-page a {
  opacity: 0.3;
}

.pagination-page a:hover,
.pagination-page a:focus {
  opacity: 0.6;
}

.pagination-page a:active {
  opacity: 1;
}