@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-wrapper {
  position: relative;

  width: fit-content;
  padding: 5px 0;
}

.button {
  position: relative;
  z-index: 2;

  padding: 0 40px;

  font-family: 'Gilroy', Arial, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  color: #000000;

  text-align: center;
  border: none;
  background-color: transparent;
}

.button-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  margin: 15px 0;

  background-color: #f0c52e;
  transition-property: margin-top, margin-bottom;
  transition-duration: 0.5s;
}

.button:hover ~ .button-bg,
.button:focus ~ .button-bg {
  margin: 0;
}

.button:active {
  color: #a88a20;
  color: rgba(0, 0, 0, 0.3);
}

.button:active ~ .button-bg {
  margin: 0;
}

.radiobutton {
  position: relative;

  display: inline-block;
}

.radiobutton input {
  position: absolute;

  height: 0;
  width: 0;

  opacity: 0;
  cursor: pointer;
}

.radiobutton-marker {
  position: absolute;
  top: -2px;
  left: 0;

  height: 20px;
  width: 20px;

  border: 2px solid #000000;
  border-radius: 50%;
}

.radiobutton-marker::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  display: none;
  width: 8px;
  height: 8px;

  border-radius: 50%;
  background-color: #000000;
}

.radiobutton input:checked ~ .radiobutton-marker::after {
  display: block;
}

.radiobutton input:focus ~ .radiobutton-marker  {
  outline: 2px solid #000000;
}

/*.radiobutton label:hover,*/
/*.radiobutton label:focus {*/
/*  color: #663d15;*/
/*}*/

.container {
  width: 1160px;
  margin: 0 auto;
}

.header {
  position: relative;

  margin-top: 40px;
  padding: 41px 60px 130px;

  background-color: #f7e296;
}

.header-row {
  display: flex;
  align-items: baseline;
  margin-bottom: 27px;
}

.header-logo {
  position: absolute;
  top: -19px;
}

.search-form {
  position: relative;

  width: 540px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url("../img/search.svg");
}

.search-form input {
  padding-left: 40px;
  padding-bottom: 8px;
  padding-right: 90px;
  width: 440px;

  font: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid transparent;
}

.search-form input::placeholder {
  color: #000000;
  opacity: 0.3;
}

.search-form input:hover::placeholder {
  opacity: 0.6;
}

.search-form input:focus {
  outline: none;
  border-bottom-color: #000000;
}

.search-form input:focus::placeholder {
  opacity: 0;
}

.search-form:focus-within input {
  border-bottom-color: #000000;
}

.search-button {
  position: absolute;
  bottom: 0;
  right: 100px;

  font: inherit;

  text-align: center;
  background-color: transparent;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.search-button:focus,
.search-form input:focus ~ .search-button {
  width: 85px;
  height: 50px;
  border: 3px solid #000000;
  margin: 0;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  width: 85px;
  height: 50px;
  border: 3px solid #000000;
  margin: 0;
  color: #5a5a5a;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.header ul {
  list-style: none;
}

.header a {
  color: #000000;
}

.site-nav,
.services-nav {
  padding: 0;
  margin: 0;
  width: 500px;
}

.site-nav li {
  position: relative;
  padding-left: 26px;
}

.site-nav li::before {
  content: "";
  position: absolute;
}

.site-nav-login::before {
  top: 9px;
  left: 0;

  height: 12px;
  width: 13px;

  background-image: url("../img/user.svg");
}

.site-nav-compare::before {
  top: 12px;
  left: 5px;

  height: 10px;
  width: 10px;

  background-image: url("../img/compare.svg");
}

.site-nav-cart::before {
  top: 10px;
  left: 2px;

  height: 12px;
  width: 12px;

  background-image: url("../img/cart.svg");
}

.site-nav-cart {
  margin-left: 39px;
}

.site-nav-login {
  margin-right: auto;
}

.header .services-nav-contacts {
  margin-left: auto;
}

.site-nav-logout {
  opacity: 0.6;
}

.catalog-opener-wrapper {
  width: 540px;
}

.catalog-opener {
  position: relative;

  padding-left: 0px;

  background-color: transparent;
  border: none;
}

.catalog-opener::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -26px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.svg");
  opacity: 0.3;
}

.catalog-opener,
.services-nav a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.header a:hover,
.header a:focus,
.catalog-opener:hover,
.catalog-opener:focus {
  color: rgba(0, 0, 0, 0.6);
}

.header .site-nav-logout:hover,
.header .site-nav-logout:focus {
  opacity: 1;
}

.header a:active,
.catalog-opener:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-nav-delivery {
  margin-right: 30px;
}

.header-catalog {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;

  /*display: flex;*/
  display: none;
  padding-left: 60px;
  height: 130px;
  gap: 70px;

  background-color: #f7e296;
}

.header-catalog-item {
  display: block;
}

.slider {
  position: relative;

  margin-top: -110px;
  margin-bottom: 85px;
}

.slide-wrapper {
  display: flex;
  height: 507px;
}

.slide-photo {
  width: 600px;
}

.slide-photo-first {
  padding-left: 90px;
}

.slide-photo-second {
  padding-left: 118px;
  padding-top: 12px;
}

.slide-photo-third {
  padding-left: 32px;
  padding-top: 66px;
}

.slide-desc {
  position: relative;

  flex-grow: 1;
}

.slide-desc::before {
  content: "";
  position: absolute;
  top: 38px;

  width: 100px;
  height: 8px;

  background-color: #ffffff;
}

.slide-order {
  position: absolute;
  top: -13px;
  right: 48px;

  margin: 0;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 180px;
  font-weight: 800;
  line-height: 180px;
  color: #ffffff;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

.slider h3 {
  position: relative;

  margin-top: 80px;
  margin-bottom: 20px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
}

.slide-desc-text {
  margin-bottom: 42px;
}

.slide-properties {
  display: flex;
  gap: 79px;
  padding-left: 0;
  margin-top: 36px;

  font-size: 13px;
  line-height: 20px;

  list-style: none;
}

.slide-properties span {
  display: inline-block;
  margin-bottom: 9px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
}

.slider-switcher {
  position: absolute;
  right: 95px;
  top: 329px;
  display: flex;
  gap: 35px;
}

.radiobutton-slider .radiobutton-marker {
  height: 14px;
  width: 14px;
  border-width: 1px;
}

.radiobutton-slider .radiobutton-marker::after {
  top: 4px;
  left: 4px;

  width: 4px;
  height: 4px;

  background-color: transparent;
  border: 1px solid #000000;
}

.categories {
  margin-bottom: 62px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  padding: 0;

  list-style: none;
}

.categories-list a {
  display: block;
  width: 160px;

  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.category-img {
  position: relative;

  height: 160px;
  width: 160px;
  margin-bottom: 35px;

  background-color: rgba(240, 197, 46, 0.5);
}

.category-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background-repeat: no-repeat;
  background-position: center;
}

.category-img-vr::after {
  background-image: url("../img/popular-1.svg");
}

.category-img-selfie::after {
  background-image: url("../img/popular-2.svg");
  background-position: bottom;
}

.category-img-actioncam::after {
  background-image: url("../img/popular-3.svg");
}

.category-img-fitnessbracelet::after {
  background-image: url("../img/popular-4.svg");
}

.category-img-smartwatch::after {
  background-image: url("../img/popular-5.svg");
}

.category-img-drone::after {
  background-image: url("../img/popular-6.svg");
}

.categories-list a:hover > .category-img,
.categories-list a:focus > .category-img,
.categories-list a:active > .category-img {
  background-color: rgba(240, 197, 46, 1);
}

.categories-list a:active > p {
  opacity: 0.3;
}

.categories-list a:active > .category-img::after {
  opacity: 0.3;
}

.services {
  position: relative;
  margin-bottom: 90px;
}

.services-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  margin-top: 100px;

  background-color: #e5e5e5;
}

.services-wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  padding-bottom: 75px;
}

.services-switcher {
  width: 285px;
  padding-left: 0;
  margin-top: 0;

  border-right: 8px solid #000000;
}

.services-switcher ul {
  margin-bottom: 0;
  margin-top: 80px;
  padding: 0;
  list-style: none;
}

.services-button{
  width: fit-content;
  margin-bottom: 25px;
}

.services-button .button {
  padding: 0;
  width: 160px;
}

.services-button .button:active,
.services-button.active .button{
  color: #f7e184;
  padding-right: 116px;
  box-sizing: content-box;
}

.services-button .button:active ~ .button-bg,
.services-button.active .button-bg {
  background-color: #000000;
  margin: 0;
}

.services-desc {
  margin-left: 115px;
}

.services-desc-item {
  padding-bottom: 60px;
}

.services-desc-item-delivery {
  background-image: url("../img/delivery.svg");
  background-repeat: no-repeat;
  background-position: 559px 11px;
}

.services-desc-item-warranty {
  background-image: url("../img/warranty.svg");
  background-repeat: no-repeat;
  background-position: 559px 11px;
}

.services-desc-item-credit {
  background-image: url("../img/credit.svg");
  background-repeat: no-repeat;
  background-position: 559px 11px;
}

.services-desc h3 {
  margin-top: 73px;
  margin-bottom: 30px;
}

.services-desc p {
  width: 450px;
}

.services-desc {
  width: 880px;
}

.services h3 {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;

  list-style: none;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-us {
  width: 480px;
}

.about-us h2 {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.about-us ul {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.contacts {
  width: 560px;
}

.contacts h2 {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.contacts-map {
  padding: 0;

  border: none;
  background-color: transparent;
}

.footer {
  margin-top: 77px;

  color: #ffffff;
  background-color: #464646;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer ul {
  list-style: none;
}

.footer a {
  color: #ffffff;
}

.footer a:hover,
.footer a:focus {
  opacity: 0.6;
}

.footer a:active {
  opacity: 0.3;
}

.footer-site-nav a {
  opacity: 0.7;
}

.footer-site-nav a:hover,
.footer-site-nav a:focus {
  opacity: 1;
}

.footer-site-nav a:active {
  opacity: 0.3;
}

.socials {
  width: 660px;
}

.socials a {
  opacity: 0.3;
}

.socials a:hover,
.socials a:focus {
  opacity: 0.6;
}

.socials a:active {
  opacity: 0.1;
}

.contact-us label {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.contact-us input,
.contact-us textarea {
  background-color: #f2f2f2;
  border: #f2f2f2 solid 2px;
}

.contact-us input::placeholder,
.contact-us textarea::placeholder {
  color: #adadad;
}

.contact-us input:hover,
.contact-us textarea:hover {
  background-color: #eaeaea;
  border-color: #eaeaea;
}

.contact-us input:hover::placeholder,
.contact-us textarea:hover::placeholder {
  color: #a8a8a8;
}

.contact-us input:focus,
.contact-us textarea:focus {
  background-color: #ffffff;
  border-color: #f7e296;
  outline: none;
}

.contact-us input:focus::placeholder,
.contact-us textarea:focus::placeholder {
  color: #464646;
}

.contact-us input:invalid,
.contact-us textarea:invalid {
  background-color: #f6dada;
  border-color: #f6dada;
}

.contact-us input:invalid::placeholder,
.contact-us textarea:invalid::placeholder {
  color: #b09f9f;
}

.close-button {
  opacity: 0.5;
  border: none;
  background-color: #f0c52e;
}

.close-button:hover,
.close-button:focus {
  opacity: 1;
}

.close-button:active {
  opacity: 0.3;
}

.main-title {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs-item:last-child a:hover,
.breadcrumbs-item:last-child a:focus {
  opacity: 0.3;
}

.breadcrumbs-item:last-child a:active {
  opacity: 0.3;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.filter {
  width: 200px;
}

.filter h2,
.sort h2 {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4.5px;
  text-transform: uppercase;
}

.filter fieldset {
  font-size: 14px;
  line-height: 40px;

  border: none;
}

.filter legend {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
}

.filter-label-disabled,
.filter-label-disabled input {
  color: #000000;
  opacity: 0.3;
}

.filter input:hover,
.filter input:focus {
  opacity: 0.6;
}

.filter-label-disabled input:hover,
.filter-label-disabled input:focus {
  opacity: 0.3;
}

.filter input:active {
  opacity: 1;
}

.filter-label-disabled input:active {
  opacity: 0.3;
}

.catalog-main {
  width: 760px;
}

.sort ul {
  list-style: none;
}

.sort button {
  background-color: transparent;
  border: none;
  opacity: 0.2;
}

.sort-type button {
  font: inherit;
  font-weight: 400;
  opacity: 0.3;
}

.sort button:hover,
.sort button:focus {
  opacity: 0.4;
}

.sort-type button:hover,
.sort-type button:focus {
  opacity: 0.6;
}

.sort button:active {
  opacity: 1;
}

.products-item-name {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.products-item-cost {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.products-item-new {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  opacity: 0.2;

  border: 2px solid;
}

.products-item:hover,
.products-item:focus {
  opacity: 0.7;
}

.products-item-compare {
  font: inherit;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.5;

  background-color: transparent;
  border: none;
}

.products-item-compare:hover,
.products-item-compare:focus {
  opacity: 1;
}

.products-item-compare:active {
  opacity: 0.2;
}

.pagination {
  display: flex;
  justify-content: space-between;

  background-color: #ebebeb;
}

.pagination a {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-switch a:hover,
.pagination-switch a:focus {
  background-color: #d9d9d9;
}

.pagination-switch a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-page a {
  opacity: 0.3;
}

.pagination-page a:hover,
.pagination-page a:focus {
  opacity: 0.6;
}

.pagination-page a:active {
  opacity: 1;
}

.products-view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 40px;
}